<%= form_for(:post, url: posts_path) do |f| %>
  <p>
    <%= f.label :name, 'Select a file' %><br/>
    <%= f.file_field :name, multiple: true%>
  </p>

  <p><%= f.submit 'Upload File'%></p>
<% end %>
